
@media screen and (min-width: 390px) {
    .tag{
        width: 700px;
    }
}
#btn{
    /* color: red; */
    background-color: #ADFF2F;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    /* background-color: #ecefff; */
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #4665ff;
    padding: 0;
    border-radius: 5px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    bottom: 0;
  }
  #btn:hover {
    transform: scale(1.2);
  }
 
